/* gallery.css */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    padding: 15px;
    justify-content: center; /* Adjust to start from the left */
  }
  
  .gallery-item img {
    margin-top: 12px;
    width: auto;
    max-width: 440px; /* Adjust the maximum width for normal images */
    max-height: 350px; /* Adjust the maximum height for normal images */
    border-radius: 2px;
    transition: transform 0.2s ease-in-out;
    border: 2px solid rgb(224, 220, 220);
    box-shadow: 2px 3px 5px 0 rgb(80, 79, 79);
  }
  
  .gallery-item img:hover {
    transform: scale(1.06);
    cursor: pointer;
    border: 2px solid rgb(179, 175, 175); /* Add border on hover */
  }
  
  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 70px; /* Adjust the top position to create a gap from the navbar */
    width: 100%;
    height: calc(
      100% - 70px
    ); /* Adjust the height based on the remaining viewport height */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-width: calc(200vw - 40px); /* Adjust the width based on viewport width */
    max-height: calc(
      100vh - 270px
    ); /* Adjust the height based on viewport height with navbar gap */
    padding-top: 30px; /* Add padding top for full-screen image */
  }
  
  .modal-content.active {
    opacity: 1; /* Show the modal content */
    transform: scale(1); /* Scale up the modal content */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions for opacity and transform */
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #dcd8d8;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Style for previous and next buttons */
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 65px;
    cursor: pointer;
    user-select: none;
    transition: font-size 0.2s; /* Add transition for font size */
  }
  
  .prev:hover,
  .next:hover {
    font-size: 110px; /* Increase font size on hover */
  }
  
  .prev {
    left: 25px;
  }
  
  .next {
    right: 25px;
  }
  
  /* Style for thumbnails */
  .thumbnails {
    position: fixed;
    bottom: 15px; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .thumbnails img {
    width: auto;
    max-width: 95px; /* Adjust the maximum width of the thumbnails */
    height: 100px;
    margin: 0 1.6px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Add transition effect */
  }
  
  .thumbnails img:hover {
    transform: scale(1.10); /* Scale up on hover */
  }
  
  .thumbnails img.active {
    border: 2px solid #9f0202; /* Highlight the active thumbnail */
  }
  
  .modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 70px; /* Adjust the top position to create a gap from the navbar */
  width: 100%;
  height: calc(100% - 70px); /* Adjust the height based on the remaining viewport height */
  overflow: auto;
  background-color: rgba(72, 70, 70, 0.9); /* Grey background color with opacity */
}

.modal-content {
  margin: auto;
  display: block;
  max-width: calc(200vw - 40px); /* Adjust the width based on viewport width */
  max-height: calc(100vh - 270px); /* Adjust the height based on viewport height with navbar gap */
  padding-top: 45px; /* Add padding top for full-screen image */
}

.modal-content.active {
  opacity: 1; /* Show the modal content */
  transform: scale(1); /* Scale up the modal content */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions for opacity and transform */
}
