.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: #fff;
  padding: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3054;
  font-size: 0.98rem;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0px;
}

.nav-item {
  position: relative;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 50px;
}

.nav-item:hover {
  background-color: none;
  border-radius: 2px;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.6px); /* Move the dropdown menu down by 10px below the parent */
  left: 0;
  padding: 5px 0; /* Adjusted padding */
  background-color: #f3f2f2;
  color: #2d3054;
  border-radius: 5px;
  min-width: 160px;
  z-index: 2;
}

.dropdown-item a {
  display: block;
  padding: 6px 10px; /* Adjusted padding */
  color: #2d3054;
  text-decoration: none;
}

.dropdown-item:hover .submenu {
  display: block;
  color: #2d3054;
}

.nav-item .dropdown-item:hover {
  background-color: #c5c6c6;
  border-radius: 5px;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -10px; /* Adjusted negative margin to align submenu */
  background-color: #f3f2f2;
  border-radius: 5px;
  min-width: 200px;
  z-index: 1;
}

.submenu-item a {
  display: block;
  padding: 8px 10px; /* Adjusted padding */
  color: #2d3054;
  text-decoration: none;
  margin-left: 10px;
}

.nav-item .submenu-item:hover {
  background-color: #c5c6c6;
  border-radius: 5px;
}

/* Hover styles for menu items and dropdown links */
.nav-item a:hover,
.dropdown-item a:hover,
.submenu-item a:hover {
  color: #ff0000; /* Change text color to red on hover */
}

/* Hover styles for menu items */
.dropdown-item:hover {
  background-color: rgb(239, 238, 238);
  border-radius: 5px; /* Maintain border-radius on hover */
}

/* Hover style for submenu items */
.submenu-item:hover {
  background-color: rgb(239, 238, 238);
  border-radius: 5px; /* Maintain border-radius on hover */
 
}

.logo {
  font-size: 1.45rem;
  display: flex;
  align-items: center;
  padding-left: 52px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo a:hover {
  color: #ff0000; /* Change text color to red on hover */
}

.navbar ul,
.dropdown-menu,
.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Linear gradient for logo */
.container {
  background: linear-gradient(45deg, #E1F5FE, #C5CAE9,#EF5350,#D32F2F,#E1BEE7,#81D4FA); /* Use your desired colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
